@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="text-center">
    <h1 class="display-4">Projekt</h1>
    <p>Tuto aplikaci jsem vytvořil jako závěrečný projek k rekvalifikačnímu kurzu <strong>Programátor www aplikací C# .NET</strong> u společnosti
        <a href="https://www.itnetwork.cz/">itnetwork.cz</a>.</p>
</div>
